
body{
  min-height: 330vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
}
.header{
  min-height: 60vh;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/banner2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 3px 3%;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: white;
}
.logo{
  font-size: 2.4rem;
  /* color: white; */
  font-weight: bold;
  padding-top: 5px;
}
i{
  color: #00b0ff;
  padding: 0.5rem;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul{
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li{
  display: inline-block;
  margin: 0px 15px;
  font-size: 17px;
  font-weight: bold;
}
nav a:hover{
  color: black;
  transition: 0.5s;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 58px;
}
.btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 26px;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50px;
}
.btn:hover{
  background-color: #00b0ff;
  color: black;
}
.up{
  position: fixed;
  bottom: 12px;
  right: -35px;
  background-color: #00b0ff;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.up.show{
  right: 17px;
}
.travel-com{
  margin-bottom: 45px;
  margin-top: 60px;
  margin-right: 5px;
  margin-left: 5px;
}
.history{
  margin-bottom: 45px;
  margin-top: 60px;
  margin-right: 5px;
  margin-left: 5px;
}
.history{
  border-radius: 15px;
  box-shadow: 0 0 10px 0 #00b0ff;
}
.advantages{
  margin-bottom: 45px;
  margin-top: 60px;
  margin-right: 5px;
  margin-left: 5px;

}
.advantages{
  border-radius: 15px;
  box-shadow: 0 0 10px 0 #00b0ff;
}
.one{
  padding: 40px 30px 0px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline solid #6093b7 3px;
}
p{
  padding: 20px 10px 0px 12px;
  font-size: 19px;
}
ul{
  margin-left: 53px;
  margin-top: 10px;
  font-size: 19px;
}
li{
  margin-bottom: 10px;
}
li::marker{
  color: #304ffe;
}
.contain {
  margin-top: 40px;
  display: flex;
}
.user-review{
  height: 450px;
  margin:0px 7px 0px 7px ;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
}
.user-review .rating{
  font-size: 20px;
    padding-top: 20px;

}
.user-review p{
  margin-bottom: 17px;
}
.user-review img{
  border-radius: 50%;
  width: 85px;
  height: 75px;
  margin-top: 10px;
}
.col{
  transition: 0.2s;
  
}
.col:hover{
  border-radius: 50px;
  box-shadow: 3px 3px 9px 5px #00b0ff ;
}
.travel-com{
  border-radius: 15px;
  box-shadow: 0 0 10px 0 #00b0ff;
}
.footer ul{
 list-style: none;
}
.inner-footer{
  margin-top: 150px;
  background-color: #272727;
}
.sociallinks{
  display: flex;
  justify-content: center
}
.sociallinks ul{
  display: flex;
}
.social-items a{
  padding: 10px 20px;
  font-size: 35px;
}
.quick-links{
  display: flex;
  justify-content: center;
  padding-bottom:20px ;
}
.quick-links ul{
  display: flex;
}
.quick-links a{
  padding: 0px 30px;
  color: white;
}
.outer-footer{
  padding: 5pxpx;
  text-align: center;
  color: white;
  background-color: #3f3f3f;
  font-size: 18px;
}
.btn-nav{
  background-color: white;
  height: 28px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn-nav span{
  display: block;
  background-color: #999;
  height: 26PX;
  width: 26PX;
  border-radius: 50%;
  margin-left: 2px;
  transition: 0.5s;
}
.active{
  background: green;
}
.active span{
  background-color: white;
  margin-left: 31px;
  margin-bottom: 1px;
  
}
.on{
  background-color: #272727;
}