*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
  }
  nav{
    display: flex;
    padding: 3px 3%;
    justify-content: space-between;
    align-items: center;
    background-color: #6093b782;
  }
  nav a{
    color: white;
  }
  .logo{
    font-size: 2.4rem;
    /* color: white; */
    font-weight: bold;
  }
  i{
    color: #00b0ff;
    padding: 0.5rem;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul{
    list-style: none;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li{
    display: inline-block;
    margin: 0px 15px;
    font-size: 17px;
    font-weight: bold;
  }
  nav a:hover{
    color: black;
    transition: 0.5s;
  }
  .text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 25px;
  }
  span {
    color: #00b0ff;
  }
  .btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 26px;
    font-size: 18px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50px;
  }
  .btn:hover{
    background-color: #00b0ff;
    color: black;
  }
  .up{
    position: fixed;
    bottom: 12px;
    right: -35px;
    background-color: #00b0ff;
    color: rgb(48, 28, 28);
    font-weight: bold;
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  .up.show{
    right: 17px;
  }
  input#show {
    display: none;
  }
.btn-nav{
  background-color: white;
  height: 28px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn-nav span{
  display: block;
  background-color: #999;
  height: 26PX;
  width: 26PX;
  border-radius: 50%;
  margin-left: 2px;
  transition: 0.5s;
}
.active{
  background: green;
}
.active span{
  background-color: white;
  margin-left: 31px;
  margin-bottom: 1px;
  
}
.on{
  background-color: red !important;
}
   
